!!!
%html
  %head
    <meta charset="utf-8">
    %title #{@page_title} - #{Shoppe.settings.store_name}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif&subset=vietnamese' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield :head
  %body
    .scrollToTop.circle
      %i.icon-up-open-big
/ page wrapper start
/ ================
.page-wrapper
  / header-container start
  .header-container
    / header-top start
    / classes:
    / "dark": dark version of header top e.g. class="header-top dark"
    / "colored": colored version of header top e.g. class="header-top colored"
    / ================
    .header-top.dark
      .container
        .row
          .col-xs-3.col-sm-6.col-md-9
            / header-top-first start
            / ================
            .header-top-first.clearfix
              %ul.social-links.circle.small.clearfix.hidden-xs
                %li.twitter
                  %a{:href => "http://www.twitter.com", :target => "_blank"}
                    %i.fa.fa-twitter
                %li.skype
                  %a{:href => "http://www.skype.com", :target => "_blank"}
                    %i.fa.fa-skype
                %li.linkedin
                  %a{:href => "http://www.linkedin.com", :target => "_blank"}
                    %i.fa.fa-linkedin
                %li.googleplus
                  %a{:href => "http://plus.google.com", :target => "_blank"}
                    %i.fa.fa-google-plus
                %li.youtube
                  %a{:href => "http://www.youtube.com", :target => "_blank"}
                    %i.fa.fa-youtube-play
                %li.flickr
                  %a{:href => "http://www.flickr.com", :target => "_blank"}
                    %i.fa.fa-flickr
                %li.facebook
                  %a{:href => "http://www.facebook.com", :target => "_blank"}
                    %i.fa.fa-facebook
                %li.pinterest
                  %a{:href => "http://www.pinterest.com", :target => "_blank"}
                    %i.fa.fa-pinterest
              .social-links.hidden-lg.hidden-md.hidden-sm.circle.small
                .btn-group.dropdown
                  %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-share-alt
                  %ul.dropdown-menu.dropdown-animation
                    %li.twitter
                      %a{:href => "http://www.twitter.com", :target => "_blank"}
                        %i.fa.fa-twitter
                    %li.skype
                      %a{:href => "http://www.skype.com", :target => "_blank"}
                        %i.fa.fa-skype
                    %li.linkedin
                      %a{:href => "http://www.linkedin.com", :target => "_blank"}
                        %i.fa.fa-linkedin
                    %li.googleplus
                      %a{:href => "http://plus.google.com", :target => "_blank"}
                        %i.fa.fa-google-plus
                    %li.youtube
                      %a{:href => "http://www.youtube.com", :target => "_blank"}
                        %i.fa.fa-youtube-play
                    %li.flickr
                      %a{:href => "http://www.flickr.com", :target => "_blank"}
                        %i.fa.fa-flickr
                    %li.facebook
                      %a{:href => "http://www.facebook.com", :target => "_blank"}
                        %i.fa.fa-facebook
                    %li.pinterest
                      %a{:href => "http://www.pinterest.com", :target => "_blank"}
                        %i.fa.fa-pinterest
              %ul.list-inline.hidden-sm.hidden-xs
                %li
                  %i.fa.fa-map-marker.pr-5.pl-10>
                  03 Bạch Đằng, Tân Bình HCM
                %li
                  %i.fa.fa-phone.pr-5.pl-10>
                  08 12345678
                %li
                  %i.fa.fa-envelope-o.pr-5.pl-10
                  info@vicdina.com
          / header-top-first end
          .col-xs-9.col-sm-6.col-md-3
            / header-top-second start
            / ================
            #header-top-second.clearfix
              / header top dropdowns start
              / ================
              .header-top-dropdown.text-right
                .btn-group
                  %a.btn.btn-default.btn-sm{:href => "page-signup.html"}
                    %i.fa.fa-user.pr-10
                    Đăng ký
                .btn-group.dropdown
                  %button.btn.dropdown-toggle.btn-default.btn-sm{"data-toggle" => "dropdown", :type => "button"}
                    %i.fa.fa-lock.pr-10
                    Đăng nhập
                  %ul.dropdown-menu.dropdown-menu-right.dropdown-animation
                    %li
                      %form.login-form.margin-clear
                        .form-group.has-feedback
                          %label.control-label Username
                          %input.form-control{:placeholder => "", :type => "text"}
                            %i.fa.fa-user.form-control-feedback
                        .form-group.has-feedback
                          %label.control-label Password
                          %input.form-control{:placeholder => "", :type => "password"}
                            %i.fa.fa-lock.form-control-feedback
                        %button.btn.btn-gray.btn-sm{:type => "submit"} Log In
                        %span.pl-5.pr-5 or
                        %button.btn.btn-default.btn-sm{:type => "submit"} Sing Up
                        %ul
                          %li
                            %a{:href => "#"} Forgot your password?
                        %span.text-center Đăng nhập with
                        %ul.social-links.circle.small.colored.clearfix
                          %li.facebook
                            %a{:href => "http://www.facebook.com", :target => "_blank"}
                              %i.fa.fa-facebook
                          %li.twitter
                            %a{:href => "http://www.twitter.com", :target => "_blank"}
                              %i.fa.fa-twitter
                          %li.googleplus
                            %a{:href => "http://plus.google.com", :target => "_blank"}
                              %i.fa.fa-google-plus
    / header top dropdowns end
    / header-top-second end
    / header-top end
    / header start
    / classes:
    / "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix"
    / "dark": dark version of header e.g. class="header dark clearfix"
    / "full-width": mandatory class for the full-width menu layout
    / "centered": mandatory class for the centered logo layout
    / ================
    %header.header.fixed.clearfix
      .container
        .row
          .col-md-3
            / header-left start
            / ================
            .header-left.clearfix
              / logo
              #logo.logo
                %a{:href => "index.html"}
                  = image_tag('logo.png')
              / name-and-slogan
              /.site-slogan{:style => "letter-spacing: 3px;"}
              /  cosmetic,. ltd
          / header-left end
          .col-md-9
            / header-right start
            / ================
            .header-right.clearfix
              / main-navigation start
              / classes:
              / "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick"
              / "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated"
              / "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns
              / ================
              .main-navigation.animated.with-dropdown-buttons
                / navbar start
                / ================
                %nav.navbar.navbar-default{:role => "navigation"}
                  .container-fluid
                    / Toggle get grouped for better mobile display
                    .navbar-header
                      %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                        %span.sr-only Toggle navigation
                        %span.icon-bar
                        %span.icon-bar
                        %span.icon-bar
                    / Collect the nav links, forms, and other content for toggling
                    #navbar-collapse-1.collapse.navbar-collapse
                      / main-menu
                      %ul.nav.navbar-nav
                        / mega-menu start
                        %li.dropdown.active.mega-menu
                          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "index.html"} Trang chủ
                          %ul.dropdown-menu
                            %li
                              .row
                                .col-md-12
                                  %h4.title
                                    %i.fa.fa-laptop.pr-10
                                    Demos
                                  .row
                                    .col-sm-4
                                      .divider
                                      %ul.menu
                                        %li.active
                                          %a{:href => "index.html"}
                                            %i.icon-home.pr-10>
                                            Home Default
                                        %li
                                          %a{:href => "index-corporate-1.html"}
                                            %i.icon-suitcase.pr-10>
                                            Corporate
                                            1
                                        %li
                                          %a{:href => "index-corporate-2.html"}
                                            %i.icon-suitcase.pr-10>
                                            Corporate
                                            2
                                        %li
                                          %a{:href => "index-corporate-3.html"}
                                            %i.icon-suitcase.pr-10>
                                            Corporate
                                            3
                                        %li
                                          %a{:href => "index-shop.html"}
                                            %i.icon-basket-1.pr-10>
                                            Commerce 1
                                        %li
                                          %a{:href => "index-shop-2.html"}
                                            %i.icon-basket-1.pr-10>
                                            Commerce 2
                                    .col-sm-4
                                      .divider
                                      %ul.menu
                                        %li
                                          %a{:href => "index-portfolio.html"}
                                            %i.icon-briefcase.pr-10>
                                            Portfolio/Agency
                                        %li
                                          %a{:href => "index-medical.html"}
                                            %i.fa.fa-ambulance.pr-10>
                                            Medical
                                        %li
                                          %a{:href => "index-restaurant.html"}
                                            %i.fa.fa-cutlery.pr-10>
                                            Restaurant
                                        %li
                                          %a{:href => "index-wedding.html"}
                                            %i.icon-heart.pr-10>
                                            Wedding
                                        %li
                                          %a{:href => "index-landing.html"}
                                            %i.fa.fa-star.pr-10>
                                            Landing Page
                                        %li
                                          %a{:href => "page-coming-soon.html"}
                                            %i.fa.fa-clock-o.pr-10>
                                            Coming Soon
                                    .col-sm-4
                                      .divider
                                      %ul.menu
                                        %li
                                          %a{:href => "index-one-page.html"}
                                            %i.icon-home.pr-10>
                                            One Page Version
                                        %li
                                          %a{:href => "index-construction.html"}
                                            %i.fa.fa-building.pr-10>
                                            Construction
                                            %span.badge New
                                        %li
                                          %a{:href => "index-education.html"}
                                            %i.fa.fa-graduation-cap.pr-10>
                                            Education
                                            %span.badge New
                                        %li
                                          %a{:href => "index-hotel.html"}
                                            %i.fa.fa-bed.pr-10>
                                            Hotel
                                            %span.badge New
                                        %li
                                          %a{:href => "index-blog.html"}
                                            %i.fa.fa-pencil.pr-10>
                                            Blog
                                            %span.badge New
                                        %li
                                          %a{:href => "index-beauty.html"}
                                            %i.fa.fa-magic.pr-10>
                                            Beauty Center
                                            %span.badge New
                        / mega-menu end
                        / mega-menu start
                        %li.dropdown.mega-menu
                          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Sản phẩm
                          %ul.dropdown-menu
                            %li
                              .row
                                .col-lg-8.col-md-9
                                  %h4.title Sản phẩm
                                  .row
                                    .col-sm-4
                                      .divider
                                      %ul.menu
                                        %li
                                          %a{:href => "page-about.html"}
                                            %i.fa.fa-angle-right>
                                            About Us 1
                                        %li
                                          %a{:href => "page-about-2.html"}
                                            %i.fa.fa-angle-right>
                                            About Us 2
                                        %li
                                          %a{:href => "page-about-3.html"}
                                            %i.fa.fa-angle-right>
                                            About Us 3
                                        %li
                                          %a{:href => "page-about-4.html"}
                                            %i.fa.fa-angle-right>
                                            About Us 4
                                        %li
                                          %a{:href => "page-about-me.html"}
                                            %i.fa.fa-angle-right>
                                            About Me
                                        %li
                                          %a{:href => "page-team.html"}
                                            %i.fa.fa-angle-right>
                                            Our Team - Options 1
                                        %li
                                          %a{:href => "page-team-2.html"}
                                            %i.fa.fa-angle-right>
                                            Our Team - Options
                                            2
                                        %li
                                          %a{:href => "page-team-3.html"}
                                            %i.fa.fa-angle-right>
                                            Our Team - Options
                                            3
                                        %li
                                          %a{:href => "page-coming-soon.html"}
                                            %i.fa.fa-angle-right>
                                            Coming Soon
                                            Page
                                        %li
                                          %a{:href => "page-faq.html"}
                                            %i.fa.fa-angle-right>
                                            FAQ page
                                    .col-sm-4
                                      .divider
                                      %ul.menu
                                        %li
                                          %a{:href => "page-services.html"}
                                            %i.fa.fa-angle-right>
                                            Services 1
                                        %li
                                          %a{:href => "page-services-2.html"}
                                            %i.fa.fa-angle-right>
                                            Services 2
                                        %li
                                          %a{:href => "page-services-3.html"}
                                            %i.fa.fa-angle-right>
                                            Services 3
                                        %li
                                          %a{:href => "page-contact.html"}
                                            %i.fa.fa-angle-right>
                                            Contact 1
                                        %li
                                          %a{:href => "page-contact-2.html"}
                                            %i.fa.fa-angle-right>
                                            Contact 2
                                        %li
                                          %a{:href => "page-contact-3.html"}
                                            %i.fa.fa-angle-right>
                                            Contact 3
                                        %li
                                          %a{:href => "page-login.html"}
                                            %i.fa.fa-angle-right>
                                            Đăng nhập 1
                                        %li
                                          %a{:href => "page-login-2.html"}
                                            %i.fa.fa-angle-right>
                                            Đăng nhập 2 -
                                            Fullsreen
                                        %li
                                          %a{:href => "page-signup.html"}
                                            %i.fa.fa-angle-right>
                                            Đăng ký 1
                                        %li
                                          %a{:href => "page-signup-2.html"}
                                            %i.fa.fa-angle-right>
                                            Đăng ký 2 -
                                            Fullsreen
                                    .col-sm-4
                                      .divider
                                      %ul.menu
                                        %li
                                          %a{:href => "page-404.html"}
                                            %i.fa.fa-angle-right>
                                            404 error
                                        %li
                                          %a{:href => "page-404-2.html"}
                                            %i.fa.fa-angle-right>
                                            404 error -
                                            Parallax
                                        %li
                                          %a{:href => "page-affix-sidebar.html"}
                                            %i.fa.fa-angle-right>
                                            Sidebar -
                                            Affix Menu
                                        %li
                                          %a{:href => "page-left-sidebar.html"}
                                            %i.fa.fa-angle-right>
                                            Left Sidebar
                                        %li
                                          %a{:href => "page-right-sidebar.html"}
                                            %i.fa.fa-angle-right>
                                            Right
                                            Sidebar
                                        %li
                                          %a{:href => "page-two-sidebars.html"}
                                            %i.fa.fa-angle-right>
                                            Two Sidebars
                                        %li
                                          %a{:href => "page-two-sidebars-left.html"}
                                            %i.fa.fa-angle-right>
                                            Two
                                            Sidebars Left
                                        %li
                                          %a{:href => "page-two-sidebars-right.html"}
                                            %i.fa.fa-angle-right>
                                            Two
                                            Sidebars Right
                                        %li
                                          %a{:href => "page-no-sidebars.html"}
                                            %i.fa.fa-angle-right>
                                            No Sidebars
                                        %li
                                          %a{:href => "page-sitemap.html"}
                                            %i.fa.fa-angle-right>
                                            Sitemap
                                .col-lg-4.col-md-3.hidden-sm
                                  %h4.title Premium HTML5 Template
                                  %p.mb-10
                                    The Project is perfectly suitable for corporate, business and company
                                    webpages.
                                  = image_tag("section-image-3.png")
                        / mega-menu end
                        %li.dropdown
                          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "blog-large-image-right-sidebar.html"} Bài viết
                          %ul.dropdown-menu
                            %li
                              %a{:href => "index-blog.html"}
                                Blog Home
                                %span.badge New
                            %li.dropdown
                              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Large Image
                              %ul.dropdown-menu.to-left
                                %li
                                  %a{:href => "blog-large-image-right-sidebar.html"} Right Sidebar
                                %li
                                  %a{:href => "blog-large-image-left-sidebar.html"} Left Sidebar
                                %li
                                  %a{:href => "blog-large-image-no-sidebar.html"} Without Sidebar
                            %li.dropdown
                              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Medium Image
                              %ul.dropdown-menu.to-left
                                %li
                                  %a{:href => "blog-medium-image-right-sidebar.html"} Right Sidebar
                                %li
                                  %a{:href => "blog-medium-image-left-sidebar.html"} Left Sidebar
                                %li
                                  %a{:href => "blog-medium-image-no-sidebar.html"} Without Sidebar
                            %li.dropdown
                              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Masonry
                              %ul.dropdown-menu.to-left
                                %li
                                  %a{:href => "blog-masonry-right-sidebar.html"} Right Sidebar
                                %li
                                  %a{:href => "blog-masonry-left-sidebar.html"} Left Sidebar
                                %li
                                  %a{:href => "blog-masonry-no-sidebar.html"} Without Sidebar
                            %li
                              %a{:href => "blog-timeline.html"} Timeline
                            %li
                              %a{:href => "blog-post.html"} Blog Post
                      / main-menu end
                      / header dropdown buttons
                      .header-dropdown-buttons.hidden-xs
                        .btn-group.dropdown
                          %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                            %i.icon-search
                          %ul.dropdown-menu.dropdown-menu-right.dropdown-animation
                            %li
                              %form.search-box.margin-clear{:role => "search"}
                                .form-group.has-feedback
                                  %input.form-control{:placeholder => "Search", :type => "text"}
                                    %i.icon-search.form-control-feedback
                        .btn-group.dropdown
                          %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                            %i.icon-basket-1
                            %span.cart-count.default-bg= current_order.total_items
                          %ul.dropdown-menu.dropdown-menu-right.dropdown-animation.cart
                            %li
                              %table.table.table-hover
                                %thead
                                  %tr
                                    %th.quantity QTY
                                    %th.product Sản phẩm
                                    %th.amount Tổng
                                %tbody
                                  %tr
                                    %td.quantity 2 x
                                    %td.product
                                      %a{:href => "shop-product.html"} Android 4.4 Smartphone
                                      %span.small 4.7" Dual Core 1GB
                                    %td.amount $199.00
                              .panel-body.text-right
                                %a.btn.btn-group.btn-gray.btn-sm{:href => "shop-cart.html"} View Cart
                                %a.btn.btn-group.btn-gray.btn-sm{:href => "shop-checkout.html"} Checkout
  / header dropdown buttons end
  / navbar end
  / main-navigation end
  / header-right end
  / header end
  / header-container end
  = yield :banner
  = yield :under_banner
  #page-start
  / section start
  = yield
  / ================
  %section.light-gray-bg.pv-30.clearfix
    .container
      .row
        .col-md-8.col-md-offset-2
          %h2.text-center
            Core
            %strong Features
          .separator
          %p.large.text-center
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere
            vero ex tempora saepe perspiciatis ducimus sequi animi.
        .col-md-4
          .pv-30.ph-20.feature-box.bordered.shadow.text-center.object-non-visible{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "100"}
            %span.icon.default-bg.circle
              %i.fa.fa-diamond
            %h3 Clean Code &amp; Design
            .separator.clearfix
            %p
              Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet,
              consectetur.
            %a{:href => "page-services.html"}
              Read More
              %i.pl-5.fa.fa-angle-double-right
        .col-md-4
          .pv-30.ph-20.feature-box.bordered.shadow.text-center.object-non-visible{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "150"}
            %span.icon.default-bg.circle
              %i.fa.fa-connectdevelop
            %h3 Extremely Flexible
            .separator.clearfix
            %p
              Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet,
              consectetur.
            %a{:href => "page-services.html"}
              Read More
              %i.pl-5.fa.fa-angle-double-right
        .col-md-4
          .pv-30.ph-20.feature-box.bordered.shadow.text-center.object-non-visible{"data-animation-effect" => "fadeInDownSmall", "data-effect-delay" => "200"}
            %span.icon.default-bg.circle
              %i.fa.icon-snow
            %h3 Latest Technologies
            .separator.clearfix
            %p
              Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet,
              consectetur.
            %a{:href => "page-services.html"}
              Read More
              %i.pl-5.fa.fa-angle-double-right
  / section end
  / section start
  / ================
  %section.section.default-bg.clearfix
    .container
      .row
        .col-md-12
          .call-to-action.text-center
            .row
              .col-sm-8
                %h1.title Don't Miss Out Our Offers
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quasi explicabo consequatur
                  consectetur, a atque voluptate officiis eligendi nostrum.
              .col-sm-4
                %br
                  %p
                    %a.btn.btn-lg.btn-gray-transparent.btn-animated{:href => "#"}
                      Learn
                      More
                      %i.fa.fa-arrow-right.pl-20
  / section end
  / section
  / ================
  %section.pv-30
    .container
      .row
        .col-md-8.col-md-offset-2
          %h2.text-center
            Why
            %strong Choose
            Us
          .separator
          %p.large.text-center
            Atque ducimus velit, earum quidem, iusto dolorem. Ex ipsam totam quas blanditiis,
            pariatur maxime ipsa iste, doloremque neque doloribus, error. Corrupti, tenetur.
          %br
    .owl-carousel.content-slider-with-large-controls
      .container
        .row
          .col-md-6
            = image_tag("section-image-1.png")
          .col-md-6
            %p.space-top
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At provident modi nobis
              dolores ratione, maiores beatae vel iste illo incidunt officia sed id cupiditate quasi excepturi
            .media
              .media-left.pr-20
                %a{:href => "#"}
                  %span.icon.circle.small.default-bg
                    %i.icon-eye
              .media-body
                %h4.media-heading Extremely Flexible
                Cras sit amet nibh libero, in gravida nulla. Sollicitudin.
            .media
              .media-left.pr-20
                %a{:href => "#"}
                  %span.icon.circle.small.default-bg
                    %i.icon-trophy
              .media-body
                %h4.media-heading Packed Full Of Features
                Cras sit amet nibh libero. Nulla vel metus scelerisque.
            .media
              .media-left.pr-20
                %a{:href => "#"}
                  %span.icon.circle.small.default-bg
                    %i.icon-lifebuoy
              .media-body
                %h4.media-heading 24/7 Support
                Cras sit amet nibh libero. Nulla vel metus scelerisque.
            %p
              %a.btn.btn-default-transparent.btn-animated{:href => "page-services.html"}
                Learn More
                %i.fa.fa-arrow-right.pl-10
      .container
        .row
          .col-md-6.text-right
            %p.space-top
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At provident modi nobis
              dolores ratione, maiores beatae vel iste illo incidunt officia sed id cupiditate quasi excepturi
            .media
              .media-body
                %h4.media-heading Extremely Flexible
                Cras sit amet nibh libero, in gravida nulla. Sollicitudin.
              .media-right.pl-20
                %a{:href => "#"}
                  %span.icon.circle.small.default-bg
                    %i.icon-eye
            .media
              .media-body
                %h4.media-heading Packed Full Of Features
                Cras sit amet nibh libero. Nulla vel metus scelerisque.
              .media-right.pl-20
                %a{:href => "#"}
                  %span.icon.circle.small.default-bg
                    %i.icon-trophy
            .media
              .media-body
                %h4.media-heading 24/7 Support
                Cras sit amet nibh libero. Nulla vel metus scelerisque.
              .media-right.pl-20
                %a{:href => "#"}
                  %span.icon.circle.small.default-bg
                    %i.icon-lifebuoy
            %p
              %a.btn.btn-default-transparent.btn-animated{:href => "page-services.html"}
                Learn More
                %i.fa.fa-arrow-right.pl-10
          .col-md-6
            = image_tag('section-image-2.png')
  / section end
  / section start
  / ================
  %section.light-gray-bg.pv-20
  / section end
  / section
  / ================
  %section.pv-30
    .container
      .row
        .col-md-6
          %h2
            What We
            %strong Offer
          .separator-2
          %p
            Lorem ipsum dolor sit amet, lotrem
            = succeed "." do
              %span.text-default some colored text
            Nulla explicabo
            %strong attention to this
            blanditiis, ex cupiditate ipsam debitis rem.
          %ul.list-icons
            %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "100"}
              %i.icon-check-1
              18 Predifined Home Pages
            %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "150"}
              %i.icon-check-1
              12 Header Options
            %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "200"}
              %i.icon-check-1
              6 Footer Options
            %li.object-non-visible{"data-animation-effect" => "fadeInUpSmall", "data-effect-delay" => "250"}
              %i.icon-check-1
              170 HTML files
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            = succeed "," do
              %strong Some bold text
            unde voluptatum
            quidem explicabo et eius aut nisi dolore ut.
          %a.btn.btn-default.btn-hvr.hvr-shutter-out-horizontal.btn-lg{:href => "page-about.html"}
            %i.icon-users-1.pr-10>
            Learn
            More
        .col-md-6
          %br
            %div{:role => "tabpanel"}
              / Nav tabs
              %ul.nav.nav-tabs.style-1{:role => "tablist"}
                %li.active{:role => "presentation"}
                  %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"}
                    %i.icon-heart.pr-10>
                    We
                    Love
                %li{:role => "presentation"}
                  %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} What
                %li{:role => "presentation"}
                  %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#messages", :role => "tab"} We Do
              / Tab panes
              .tab-content
                #home.tab-pane.fade.in.active{:role => "tabpanel"}
                  .overlay-container.overlay-visible
                    = image_tag("section-image-3.jpg")
                    %a.overlay-link{:href => "#"}
                      %i.fa.fa-link
                    .overlay-bottom.hidden-xs
                      .text
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nobis sunt, quae alias impedit
                        ea molestias recusandae.
                #profile.tab-pane.fade{:role => "tabpanel"}
                  .embed-responsive.embed-responsive-16by9
                    %iframe.embed-responsive-item{:src => "//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"}
                    %p
                      %a{:href => "http://vimeo.com/29198414"} Introducing Vimeo Music Store
                      from
                      %a{:href => "http://vimeo.com/staff"} Vimeo Staff
                      on
                      = succeed "." do
                        %a{:href => "https://vimeo.com"} Vimeo
                #messages.tab-pane.fade{:role => "tabpanel"}
                  %h3 Lorem ipsum dolor sit amet
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptas excepturi hic eveniet
                    deleniti, voluptate fugit quod sapiente ut nulla voluptates neque a rerum! Sed dolores enim veniam,
                    dolor minus.
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quos quidem amet sapiente praesentium
                    unde, vel corrupti, vero dicta velit fuga ut at accusantium expedita inventore fugit perferendis non
                    reprehenderit.
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente tempore ipsam tenetur molestias
                    eligendi provident! Itaque sapiente neque esse expedita voluptatibus qui officia, fuga a tempora!
                    Alias voluptate pariatur quo.
    %br
  / section end
  / section
  / ================
  %section.pv-30.light-gray-bg.padding-bottom-clear
    .container
      .row
        .col-md-8.col-md-offset-2
          %h2.text-center
            Our
            %strong Portfolio
          .separator
          %p.large.text-center
            Atque ducimus velit, earum quidem, iusto dolorem. Ex ipsam totam quas blanditiis,
            pariatur maxime ipsa iste, doloremque neque doloribus, error. Corrupti, tenetur.
          %br
    .space-bottom
      .owl-carousel.carousel
        .image-box.shadow.text-center
          .overlay-container
            = image_tag("portfolio-1.jpg")
            .overlay-top
              .text
                %h3
                  %a{:href => "portfolio-item.html"} Project Title
                %p.small Lorem ipsum dolor sit amet.
            .overlay-bottom
              .links
                %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                  View Details
                  %i.pl-10.fa.fa-arrow-right
        .image-box.shadow.text-center
          .overlay-container
            = image_tag("portfolio-2.jpg")
            .overlay-top
              .text
                %h3
                  %a{:href => "portfolio-item.html"} Project Title
                %p.small Lorem ipsum dolor sit amet.
            .overlay-bottom
              .links
                %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                  View Details
                  %i.pl-10.fa.fa-arrow-right
        .image-box.shadow.text-center
          .overlay-container
            = image_tag("portfolio-3.jpg")
            .overlay-top
              .text
                %h3
                  %a{:href => "portfolio-item.html"} Project Title
                %p.small Lorem ipsum dolor sit amet.
            .overlay-bottom
              .links
                %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                  View Details
                  %i.pl-10.fa.fa-arrow-right
        .image-box.shadow.text-center
          .overlay-container
            = image_tag("portfolio-4.jpg")
            .overlay-top
              .text
                %h3
                  %a{:href => "portfolio-item.html"} Project Title
                %p.small Lorem ipsum dolor sit amet.
            .overlay-bottom
              .links
                %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                  View Details
                  %i.pl-10.fa.fa-arrow-right
        .image-box.shadow.text-center
          .overlay-container
            = image_tag("portfolio-5.jpg")
            .overlay-top
              .text
                %h3
                  %a{:href => "portfolio-item.html"} Project Title
                %p.small Lorem ipsum dolor sit amet.
            .overlay-bottom
              .links
                %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                  View Details
                  %i.pl-10.fa.fa-arrow-right
        .image-box.shadow.text-center
          .overlay-container
            = image_tag("portfolio-6.jpg")
            .overlay-top
              .text
                %h3
                  %a{:href => "portfolio-item.html"} Project Title
                %p.small Lorem ipsum dolor sit amet.
            .overlay-bottom
              .links
                %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                  View Details
                  %i.pl-10.fa.fa-arrow-right
      .owl-carousel.content-slider
        .container
          .row
            .col-md-8.col-md-offset-2
              .testimonial.text-center
                .testimonial-image
                  = image_tag("testimonial-1.jpg")
                %h3 Just Perfect!
                .separator
                .testimonial-body
                  %blockquote
                    %p
                      Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium,
                      totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a
                      justo.
                  .testimonial-info-1 - Jane Doe
                  .testimonial-info-2 By Company
        .container
          .row
            .col-md-8.col-md-offset-2
              .testimonial.text-center
                .testimonial-image
                  = image_tag("testimonial-2.jpg")
                %h3 Amazing!
                .separator
                .testimonial-body
                  %blockquote
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in.
                      Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse
                      vel!
                  .testimonial-info-1 - Jane Doe
                  .testimonial-info-2 By Company
      .container
        .clients-container
          .clients
            .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "100"}
              %a{:href => "#"}= image_tag("client-1.png")
            .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "200"}
              %a{:href => "#"}= image_tag("client-2.png")
            .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "300"}
              %a{:href => "#"}= image_tag("client-3.png")
            .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "400"}
              %a{:href => "#"}= image_tag("client-4.png")
            .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "500"}
              %a{:href => "#"}= image_tag("client-5.png")
            .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "600"}
              %a{:href => "#"}= image_tag("client-6.png")
            .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "700"}
              %a{:href => "#"}= image_tag("client-7.png")
            .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "800"}
              %a{:href => "#"}= image_tag("client-8.png")
  / section end
  / section start
  / ================
  %section.pv-40.stats.padding-bottom-clear.dark-translucent-bg.hovered.background-img-7{:style => "background-position: 50% 50%;"}
    .clearfix
      .col-md-3.col-xs-6.text-center
        .feature-box.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "300"}
          %span.icon.dark-bg.large.circle
            %i.fa.fa-diamond
          %h3
            %strong Projects
          %span.counter{"data-speed" => "5000", "data-to" => "1525"} 0
      .col-md-3.col-xs-6.text-center
        .feature-box.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "300"}
          %span.icon.dark-bg.large.circle
            %i.fa.fa-users
          %h3
            %strong Clients
          %span.counter{"data-speed" => "5000", "data-to" => "1225"} 0
      .col-md-3.col-xs-6.text-center
        .feature-box.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "300"}
          %span.icon.dark-bg.large.circle
            %i.fa.fa-cloud-download
          %h3
            %strong Downloads
          %span.counter{"data-speed" => "5000", "data-to" => "12235"} 0
      .col-md-3.col-xs-6.text-center
        .feature-box.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "300"}
          %span.icon.dark-bg.large.circle
            %i.fa.fa-share
          %h3
            %strong Shares
          %span.counter{"data-speed" => "5000", "data-to" => "15002"} 0
    / footer top start
    / ================
    .footer-top.animated-text{:style => "background-color:rgba(0,0,0,0.3);"}
      .container
        .row
          .col-md-12
            .call-to-action.text-center
              .row
                .col-sm-8
                  %h2 Powerful Bootstrap Template
                  %h2 Waste no more time
                .col-sm-4
                  %p.mt-10
                    %a.btn.btn-animated.btn-lg.btn-gray-transparent{:href => "#"}
                      Thanh toán
                      %i.fa.fa-cart-arrow-down.pl-20
  / footer top end
  / section end
  / footer start (Add "dark" class to #footer in order to enable dark footer)
  / ================
  %footer#footer.clearfix
    / .footer start
    / ================
    .footer
      .container
        .footer-inner
          .row
            .col-md-3
              .footer-content
                .logo-footer= image_tag("logo.png")
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta
                  consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus. Ipsa, aut
                  voluptas quaerat...
                  %a{:href => "page-about.html"}
                    Learn More
                    %i.fa.fa-long-arrow-right.pl-5
                .separator-2
                %nav
                  %ul.nav.nav-pills.nav-stacked
                    %li
                      %a{:href => "#", :target => "_blank"} Hỗ trợ
                    %li
                      %a{:href => "#"} Chính sách
                    %li
                      %a{:href => "#"} Quy định
                    %li
                      %a{:href => "#"} Giới thiệu
            .col-md-3
              .footer-content
                %h2.title Latest From Blog
                .separator-2
                .media.margin-clear
                  .media-left
                    .overlay-container
                      <img class="media-object" #{image_path("images/blog-thumb-1.jpg")} alt="blog-thumb">
                      %a.overlay-link.small{:href => "blog-post.html"}
                        %i.fa.fa-link
                  .media-body
                    %h6.media-heading
                      %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet...
                    %p.small.margin-clear
                      %i.fa.fa-calendar.pr-10>
                      Mar 23, 2015
                  %hr
                .media.margin-clear
                  .media-left
                    .overlay-container
                      = image_tag("blog-thumb-2.jpg")
                      %a.overlay-link.small{:href => "blog-post.html"}
                        %i.fa.fa-link
                  .media-body
                    %h6.media-heading
                      %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet...
                    %p.small.margin-clear
                      %i.fa.fa-calendar.pr-10>
                      Mar 22, 2015
                  %hr
                .media.margin-clear
                  .media-left
                    .overlay-container
                      = image_tag("blog-thumb-3.jpg")
                      %a.overlay-link.small{:href => "blog-post.html"}
                        %i.fa.fa-link
                  .media-body
                    %h6.media-heading
                      %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet...
                    %p.small.margin-clear
                      %i.fa.fa-calendar.pr-10>
                      Mar 21, 2015
                  %hr
                .media.margin-clear
                  .media-left
                    .overlay-container
                      = image_tag("blog-thumb-4.jpg")
                      %a.overlay-link.small{:href => "blog-post.html"}
                        %i.fa.fa-link
                  .media-body
                    %h6.media-heading
                      %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet...
                    %p.small.margin-clear
                      %i.fa.fa-calendar.pr-10>
                      Mar 21, 2015
                .text-right.space-top
                  %a.link-dark{:href => "blog-large-image-right-sidebar.html"}
                    %i.fa.fa-plus-circle.pl-5.pr-5>
                    More
            .col-md-3
              .footer-content
                %h2.title Portfolio Gallery
                .separator-2
                .row.grid-space-10
                  .col-xs-4.col-md-6
                    .overlay-container.mb-10
                      = image_tag("gallery-1.jpg")
                      %a.overlay-link.small{:href => "portfolio-item.html"}
                        %i.fa.fa-link
                  .col-xs-4.col-md-6
                    .overlay-container.mb-10
                      = image_tag("gallery-2.jpg")
                      %a.overlay-link.small{:href => "portfolio-item.html"}
                        %i.fa.fa-link
                  .col-xs-4.col-md-6
                    .overlay-container.mb-10
                      = image_tag("gallery-3.jpg")
                      %a.overlay-link.small{:href => "portfolio-item.html"}
                        %i.fa.fa-link
                  .col-xs-4.col-md-6
                    .overlay-container.mb-10
                      = image_tag("gallery-4.jpg")
                      %a.overlay-link.small{:href => "portfolio-item.html"}
                        %i.fa.fa-link
                  .col-xs-4.col-md-6
                    .overlay-container.mb-10
                      = image_tag("gallery-5.jpg")
                      %a.overlay-link.small{:href => "portfolio-item.html"}
                        %i.fa.fa-link
                  .col-xs-4.col-md-6
                    .overlay-container.mb-10
                      = image_tag("gallery-6.jpg")
                      %a.overlay-link.small{:href => "portfolio-item.html"}
                        %i.fa.fa-link
                .text-right.space-top
                  %a.link-dark{:href => "portfolio-grid-2-3-col.html"}
                    %i.fa.fa-plus-circle.pl-5.pr-5>
                    More
            .col-md-3
              .footer-content
                %h2.title Find Us
                .separator-2
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium odio voluptatem necessitatibus
                  illo vel dolorum soluta.
                %ul.social-links.circle.animated-effect-1
                  %li.facebook
                    %a{:href => "http://www.facebook.com", :target => "_blank"}
                      %i.fa.fa-facebook
                  %li.twitter
                    %a{:href => "http://www.twitter.com", :target => "_blank"}
                      %i.fa.fa-twitter
                  %li.googleplus
                    %a{:href => "http://plus.google.com", :target => "_blank"}
                      %i.fa.fa-google-plus
                  %li.linkedin
                    %a{:href => "http://www.linkedin.com", :target => "_blank"}
                      %i.fa.fa-linkedin
                  %li.xing
                    %a{:href => "http://www.xing.com", :target => "_blank"}
                      %i.fa.fa-xing
                .separator-2
                %ul.list-icons
                  %li
                    %i.fa.fa-map-marker.pr-10.text-default
                    03 Bạch Đằng, Tân Bình HCM
                  %li
                    %i.fa.fa-phone.pr-10.text-default
                    08 1234567890
                  %li
                    %a{:href => "mailto:info@vicdina.com"}
                      %i.fa.fa-envelope-o.pr-10>
                      #{Shoppe.settings.email_address}
    / .footer end
    / .subfooter start
    / ================
    .subfooter
      .container
        .subfooter-inner
          .row
            .col-md-12
              %p.text-center
                Copyright @ 2016 The Project by
                = succeed "." do
                  %a{:href => "http://lolemspa.com", :target => "_blank"} #{Shoppe.settings.store_name}
                All Rights Reserved
    / .subfooter end
    / footer end
    / page-wrapper end
    = display_flash
